.expandableConsole {
    grid-area: console;
}

.consolePanel {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.logsList {
    flex-grow: 1;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
}
