.summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13.33px;
}

.panel {
    border: none;
    border-bottom: 1px solid var(--primary-base-300, #262a32);
    border-radius: 0 !important;
}

.detailsRow {
    margin: 16px 0;
}

.pageTitle {
    display: flex;
    align-items: center;

    h2 {
        margin-right: 0.5rem;
    }
}
