.logEntry {
	display: flex;
	flex-direction: row;
	column-gap: 0.75rem;

	border: 1px solid lightgray;
	padding: 0.25rem 0.75rem;
	
	&.hovered {
		border-width: 3px;
		border-style: dashed;
	}

	&.selected {
		border-width: 3px;
		border-style: ridge;
	}

	&.warningLevel {
		background-color: #FEFCE7;
		border-color: #FFF5C1;
		
		&.selected, &.hovered {
			background-color: #e4da6c;
		}
	}

	&.errorLevel {
		background-color: #FFEFF0;
		border-color: #FFD6D5;
	
		&.selected, &.hovered {
			background-color: #d9757c;
		}
	}

	.displayDate {
		font-size: small;
		line-height: 24px;
		min-width: 80px;
	}

	.expandButton {
		background: transparent;
		border: none;
	}

	.message {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	.expanded {
		overflow: inherit;
		white-space: inherit;
		word-break: break-all;
	}
}