.domPreviewHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.controls {
    display: flex;
    align-items: center;

    button {
        margin-left: 16px;
        text-transform: none;
    }
}

.zoomValue {
    font-size: 16px;
    margin-left: 16px;
    width: 39px;
    text-align: right;
}
