:root {
    --error-colour: #d3455b;
}

.cypressError {
    padding: 5px 10px;
    overflow: scroll;
}

.title {
    font-weight: bold;
    color: var(--error-colour);
    margin-bottom: 5px;
    background-color: rgb(50 50 50 / 5%);

    span {
        margin-left: 4px;
        margin-right: 6px;
    }
}

.errorMessage {
    color: var(--error-colour);
}
