.tag {
    height: 24px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 12px 3px;
    font-size: 11.11px;
}
