.goToCodeButton {
    text-transform: none;
    padding: 4px 8px;
    height: fit-content;
    min-width: 105px;

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }
}

.buttonText {
    margin-left: 4px;
    font-weight: 500;
}
