@use 'src/components/DevTools/Network/components/utils/tableStyle.scss';

:root {
    --table-row-hover-background: rgb(0, 0, 0, 0.10);
    --progress-started-background: rgb(255, 255, 0, 0.8);
    --progress-ended-background:  rgb(255, 215, 0, 0.8);
}

.trBody {
    &:hover {
        background-color: var(--table-row-hover-background);
        cursor: pointer;
    }
}

.networkTableRowError {
    color: red;
}

.urlColumn {
    width: 500px;
    max-width: 500px;
    word-wrap: break-word;
}

.waterfall {
    min-width: 550px;
    position: relative;
}

.waterfallBar {
    position: absolute;
    top: 50%;
    height: 10px;
    margin-right: -50%;
    transform: translate(0, -50%);
    background-color: red;
}

.waterfallProgressLine {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: grey;
}

.progressStarted {
    min-width: 110px;
    background-color: var(--progress-started-background);
}

.progressEnded {
    min-width: 110px;
    background-color: var(--progress-ended-background);
}

.progressLastStartEvent {
    border: 2px solid dodgerblue;
    color: dodgerblue;
    font-weight: bold;
}
