

.networkTableRow {
    cursor: pointer;
}

.networkTableRowError {
    color: red;
}

.urlColumn {
    width: 500px;
    max-width: 500px;
    word-wrap: break-word;
}

.waterfall {
    min-width: 550px;
    position: relative;
}

.waterfallBar {
    position: absolute;
    top: 50%;
    height: 10px;
    margin-right: -50%;
    transform: translate(0, -50%);
    background-color: red;
}

.waterfallProgressLine {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: grey;
}

// duplicating class names to increase specificity
.progress {
    &.progressStarted {
        min-width: 110px;
        background-color: yellow;
    }
    &.progressEnded  {
        min-width: 110px;
        background-color: gold;
    }
}

.progress{
    &.progress {
        &.progressLastStartEvent {
            color: blue;
            font-weight: bold;
        }
    }
}
