.play {
    cursor: pointer;
    background: none;
    border: none;
    min-width: 72px;
    text-align: left;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 13.33px;

    svg {
        margin-right: 4px;
    }
}
