.playButton {
    margin-right: 16px;

    button {
        background: none;
        border: none;
        min-width: 72px;
    }

    svg {
        margin-right: 4px;
    }
}

.play {
    margin-left: 4px;
}

