.networkDetailPanelContent {
    overflow: auto;
    width: 100%;
    height: 100%;
    font-size: 13.33px;
}

.requestUrl {
    word-wrap: break-word;
}

.boldText {
    font-weight: bold;
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .closeButton {
        min-width: 32px;
        min-height: 32px;
        margin-right: 24px;
    }
}
