.network {
    overflow: auto;
    isolation: isolate;
}

.labelWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inlineWrapper {
    display: flex;
    gap: 15px;
}

.verticalStack {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
