@use 'src/components/common/styles/table.scss';

.expandableNetwork {
    grid-area: network;
}

.network {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.filterBlock {
    display: inline-block;
    margin-bottom: 8px;
}

.labelWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inlineWrapper {
    display: flex;
    gap: 15px;
}

.filters {
    padding: 8px 24px;
    padding-bottom: 0;
}

.filterRow {
    display: flex;
    align-items: center;
    margin-top: 8px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.toggleNetworkStateType,
.resourceTypeFilter {
    text-transform: none;
}

th {
    font-weight: 500;
    text-transform: uppercase;
}

.networkTablePanel {
    overflow: auto;
}
