:root {
    --expandable-child-expanded-content-layer: 10;
    --expandable-child-button-layer: 1;
    --timeline-screenshot-layer: 11;
    --timeline-tooltip-layer: 2;
    --timeline-marker-layer: 2;
    --timeline-hover-layer: 1;
    --timeline-cursor-layer: 0;
}
