.timeline {
    margin: 10px 0;
    padding: 24px;
}

.controlSection {
    display: flex;
    justify-content: space-between;
}

.controlsContainer {
    display: flex;
}

.time {
    margin-right: 16px;
}
