.timeline {
    margin: 10px 0;
}

.controlSection {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.controlsContainer {
    display: flex;
    align-items: center;
}

.time {
    margin-right: 32px;
}
