.timeline {
    margin: 10px 0;
    margin-bottom: 24px;
}

.controlSection {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}

.controlsContainer {
    display: flex;
    align-items: center;
}

.time {
    margin-right: 32px;
    font-weight: 500;
}
