.summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13.33px;
}

.detailsRow {
    margin-top: 16px;
}

.errorsContainer {
    margin-top: 24px;

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;

        li {
            display: flex;
            align-items: center;

            svg {
                margin-right: 8px;
            }
        }
    }
}

.divider {
    height: 24px;
    width: 1px;
    margin: 0 24px;
}

.pageTitle {
    display: flex;
    align-items: center;

    h2 {
        margin-right: 0.5rem;
    }
}

.panel {
    border: none;
    border-bottom: 1px solid var(--primary-base-300, #262a32);
    border-radius: 0 !important;
}
