.stepHeader {
    cursor: pointer;
    height: 3rem;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid black;

    &.hovered,
    &:hover {
        background-color: rgb(0 0 0 / 5%);
    }

    &.selected {
        background-color: #f7e6b0;
    }

    & > .stepName,
    & > .stepContent {
        padding: 0.25rem;
    }

    // & > .stepName {
    //     text-align: right;
    //     color: #2c88d9;
    //     font-weight: 800;
    // }

    & > .stepContent {
        &.success {
            color: #117924;
        }

        &.error {
            color: #d3455b;
        }
    }

    & > .stepAccordionIcon > svg {
        width: 32px;
        height: 32px;
        margin-right: 0.5rem;
        border: none;
    }
}
