.stepHeader {
	cursor: pointer;
	height: 3rem;
	
	border-bottom: 1px solid lightgray;
	border-top: 1px solid black;

	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 5px;
	// 	height: 100%;
	// 	background-color: #1AAE9F;
	// }

	&.hovered,
	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}

	&.selected {
		background-color: #F7E6B0;
	}

	& > .stepName,
	& > .stepContent {
		padding: 0.25rem 0.5rem;
	}

	& > .stepName {
		text-align: right;
		color: #2C88D9;
		font-weight: bold;
	}

	& > .stepContent {
		&.success {
			color: #1AAE9F;
		}

		&.error {
			color: #D3455B;
		}
	}

	& > .stepAccordionIcon > svg {
		width: 32px;
		height: 32px;
		margin-right: 0.5rem;
		border: none;
	}
}