.detailColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
  }
  
.detailContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 4px;
}
