.steps {
    grid-area: steps;
    width: 100%;
    height: 100%;
}

.stepsTable {
    display: inline-block;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-collapse: collapse;
    flex-grow: 1;

    & > .stepsTableBody {
        width: 100%;
        display: table;
    }
}
