@use '/src/constants/layers.scss';

.child {
    position: relative;
    border: 3px solid lightgrey;
    border-radius: 5px;
    background: white;
    overflow: hidden;

    // TODO: This is a simple but slightly hacky way of doing expansions
    // and it proably won't support lerping of the element's position.
    // We'll need to switch to something else eventually but this'll do for now.
    &.expanded {
        grid-area: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: var(--expandable-child-expanded-content-layer);
    }

    & > * {
        max-height: 100%;
    }
}

.expand {
    position: absolute;
    right: 0;
    top: 0;
    z-index: var(--expandable-child-button-layer);
}
