:root {
    --tab-border-color-hover: rgb(90%, 90%, 90%);
    --tab-border-color: rgb(75%, 75%, 75%);
}

.tabButton {
    border: 1px;
    border-color: rgb(0, 0, 0, 0) rgb(0, 0, 0, 0) var(--tab-border-color) rgb(0, 0, 0, 0);
    background-color: white;
    padding: 10px 15px 10px 15px;
    box-shadow: none;
    border-style: solid;
    outline: none;
    margin-bottom: -1px;
    color: dodgerblue;
}

.tabButtonNotActive {
    &:hover {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-color: var(--tab-border-color-hover)
            var(--tab-border-color-hover) var(--tab-border-color-hover);
    }
}

.tabButtonActive {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-color: var(--tab-border-color) var(--tab-border-color) white
        var(--tab-border-color);
    border-width: 1px;
    color: black;
}

.tabButtonContainer {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--tab-border-color);
    margin-bottom: 15px;
}
