.actionRecord {
	cursor: pointer;
	padding: 0.5rem 1rem;

	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 5px;
	// 	height: 100%;
	// 	background-color: #1AAE9F;
	// }

	&.hovered,
	&:hover {
		background-color: rgba(50, 50, 50, 0.05);
	}

	&.selected {
		background-color: #f1ebd8;
	}

	&>.expandedActionName {
		font-weight: 600;
		text-transform: capitalize;
		margin-right: 0.5rem;
	}

	&>.expandedActionMessage {
		font-weight: 300;
		font-style: italic;
		color: rgb(34, 33, 33);
		word-break: break-all;
	}
}