.actionRecord {
    cursor: pointer;
    padding: 8px 24px 8px 40px;

    & > .expandedActionName {
        font-weight: 700;
        margin-right: 0.5rem;
    }

    & > .expandedActionMessage {
        font-weight: 300;
        word-break: break-all;
    }
}
