.actionRecord {
    cursor: pointer;
    padding: 8px 24px 8px 40px;

    & > .expandedActionName {
        font-weight: 700;
        margin-right: 0.5rem;
    }

    & > .expandedActionMessage {
        font-weight: 300;
        word-break: break-all;
    }
}

.stackAccordionRoot {
    display: inline;
    width: fit-content !important;
}

.stackAccordion {
    padding: 0;
    justify-content: flex-start !important;
}

.stackAccordionContent {
    flex-grow: unset !important;
    margin-right: 8px !important;
}

.errorUrl {
    margin-top: 8px;
}

.accordionDetails {
    word-break: break-all;
    white-space: pre-line;
}
