.input {
    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }

    padding: 0.25rem 0.5rem;
    border: 1px solid #ced4da;
    font-size: .875rem;
    border-radius: 0.25rem;
}
