.logsFilters {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    width: 100%;
}

.toggleButtons {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.toggleLogLevelButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.25rem;
    border-radius: 5px;
    text-transform: none;

    .toggleLogLevelIcon {
        width: 20px;
        height: 20px;
    }
}

.logLevelCount {
    font-size: 12px;

    .logLevelActive & {
        font-weight: bold;
    }
}
