.logsFilters {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    padding: 0.25rem;
}

.toggleButtons {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.toggleLogLevelButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.25rem;
    border: 1px solid black;
    border-radius: 5px;

    &.logLevelActive {
        background-color: rgb(169 201 236);
    }

    .toggleLogLevelIcon {
        width: 20px;
        height: 20px;
    }
}

.logLevelCount {
    font-size: 12px;

    .logLevelActive & {
        font-weight: bold;
    }
}
