@use 'src/constants/layers.scss';

:root {
    --timeline-tooltip-colour: #4b5c6b;
}

.seeker {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    min-height: 80px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 50%;
        height: 5px;
        transform: translateY(50%);
        background: lightgrey;
    }
}

.seekerContainer {
    flex-grow: 1;
    position: relative;
    margin: 0 24px;
}

.fill {
    position: absolute;
    left: 0;
    bottom: 50%;
    height: 5px;
    transform: translateY(50%);
}

.cursor {
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translate(50%, 50%);
    height: 100%;
    width: 3px;
    z-index: var(--timeline-cursor-layer);
    background: linear-gradient(180deg, rgba(254, 253, 255, 0) 0%, rgba(254, 253, 255, 0.4) 5%, rgba(255, 255, 255, 0.4) 10%, rgba(254, 253, 255, 0.9) 70%, rgba(254, 253, 255, 0.8) 50%, rgba(254, 253, 255, 0.9) 70%, rgba(255, 255, 255, 0.4) 90%, rgba(254, 253, 255, 0.4) 95%, rgba(254, 253, 255, 0) 100%);


    &:hover {
        &::after {
            content: attr(data-after-content);
            font-size: 12px;
            color: white;
            position: relative;
            bottom: 30px;
            background-color: var(--timeline-tooltip-colour);
            z-index: var(--timeline-tooltip-layer);
            border-radius: 5px;
            padding: 5px;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 80%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: white transparent transparent
                transparent;
        }
    }
}

.hover {
    position: absolute;
    left: 0;
    bottom: 50%;
    height: 5px;
    transform: translateY(50%);
    background: grey;

    &::after {
        content: '';
        position: absolute;
        bottom: 50%;
        right: 0;
        transform: translate(50%, 50%);
        height: 10px;
        width: 10px;
        background: grey;
        border-radius: 50%;
    }
}

.marker {
    display: flex;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    z-index: var(--timeline-marker-layer);
}
