.jobButton {
    display: block; // Make the button behave like a block element
    width: 100%; // Ensure it spans the full width of its container
    padding: 20px;
    margin: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    text-align: left;
    transition: background-color 0.3s ease, opacity 0.3s ease;

    &:hover {
        opacity: 0.8;
    }
}

.jobSuccess {
    background-color: green;
}

.jobFailed {
    background-color: red;
}
