.errorPanel {
    position: relative;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 13.33px;
}

.frameworkError {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.errorDetail {
    display: flex;
    align-items: flex-start;
    align-items: center;
    margin-right: 8px;
}

.errorContent {
    margin-left: 12px;

    .errorName {
        font-weight: 500;
    }
}

.contentMargin {
    margin-bottom: 16px;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;

    span {
        margin-left: 4px;
        margin-right: 6px;
    }
}

.stackMessage {
    white-space: pre-line;
}

.chevron {
    margin-left: 8px;
}
